#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
}

header div {
  display: flex;
  flex-direction: column;
}

header hr {
  width: 100px;
  background-color: white;
  animation-name: header_underline;
  animation-duration: 2s;
}

.main_conhecimentos {
  animation-name: slide;
  animation-duration: 2s;
}

.main_conhecimentos div {
  display: flex;
  justify-content: center;
  /* width: 100vw; */
  height: 10vh;
}

.main_conhecimentos h3 {
  margin-left: 20px;
  transition: 5s;
}

.about__main {
  animation-name: slide;
  animation-duration: 2s;
}

.about__main img {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  margin-top: 20px;
  transition: 5s;
}

@keyframes slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes header_underline {
  from {
    width: 0;
  }
  to {
    width: 100px;
  }
}